.topic {
    border: 1px solid lightblue;
    border-radius: 10px;
}

.topic img {
    height: 250px;
    background-color: #6A5AE0;
}

.foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.btn a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}